# OSX
#
.DS_Store

# Temporary
src/screens/Profile/resources
debug.txt

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
ios-fastlane-json-key.json

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
functions/lib/*
android/app/android-fastlane-json-key.json

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
functions/ui-debug.log
**/*-debug.log
ui-debug.log
workflow_tests/**.log

# Fastlane

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Jest
#
.jest/

# Bun
#
bun.lockb

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Firebase
**/database.rules.test.json

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# Tests
__snapshots__/

# Other
*-admin-sdk-*.json
_dev/beta/beta_keys.tsx
_dev/utils/admin.js
_dev/migrations/
docs-old/
local/
mockDatabase.json

# Custom
.bundle
.vscode
*.jks
*.aab
*.apk
*.ipa
*.lnk
*.env.*
