ENVIRONMENT=production
API_KEY=AIzaSyBc0TXXG7dMJ_bBMViFZcIaIAs9hyIvJf8
AUTH_DOMAIN=alcohol-tracker-db.firebaseapp.com
DATABASE_URL=https:/$()/alcohol-tracker-db-default-rtdb.europe-west1.firebasedatabase.app
PROJECT_ID=alcohol-tracker-db
STORAGE_BUCKET=alcohol-tracker-db.appspot.com
MESSAGING_SENDER_ID=665512857657
APP_ID=1:665512857657:web:520bc5a3b5a1141eb4fde8
MEASUREMENT_ID=G-417C68YPR2
