ENVIRONMENT=development
API_KEY=AIzaSyC4qhMM2q6JH7ggtYTOHaks8CquJi0YP5A
AUTH_DOMAIN=dev-alcohol-tracker-db.firebaseapp.com
DATABASE_URL=https:/$()/dev-alcohol-tracker-db-default-rtdb.europe-west1.firebasedatabase.app
PROJECT_ID=dev-alcohol-tracker-db
STORAGE_BUCKET=dev-alcohol-tracker-db.appspot.com
MESSAGING_SENDER_ID=806896865950
APP_ID=1:806896865950:web:ec03362eac4f8166b1618f
MEASUREMENT_ID=G-39L9QW3CFM
PUSHER_APP_KEY=5b1f7b3b7b7b7b7b7b7b
PUSHER_DEV_SUFFIX=-dev
